<!-- Google tag (gtag.js) -->
<script
	async
	src="https://www.googletagmanager.com/gtag/js?id=G-1J9Y5E62DE"
></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag("js", new Date());

	gtag("config", "G-1J9Y5E62DE");
</script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- OpenGraph/Social sharing -->
<meta name="description" content="{{ settings.metaDescription }}" />
<meta name="og:description" content="{{ settings.metaDescription }}" />
<meta property="og:image" content="{{ settings.avatarImage }}" />
<meta property="og:title" content="{{ settings.metaTitle}}" />
<meta name="twitter:card" content="summary" />
<link
	rel="icon"
	href="https://cdn.glitch.global/b58e7d4d-0e72-49b2-8af5-9a6bd25fa77c/sumos1.jpg"
/>
<link rel="stylesheet" type="text/css" href="/styles/style.css" />
<!--PWA requirements-->
<meta name="theme-color" content="#9480FF" />
<link
	rel="apple-touch-icon"
	href="https://cdn.glitch.global/b58e7d4d-0e72-49b2-8af5-9a6bd25fa77c/sumos1.jpg"
/>

<!-- PWA setup - update public/sw.js if you add your own assets like a new .css file -->
<link rel="manifest" href="manifest.json" />
<script>
	if (location.protocol == "http:") location.protocol = "https:";
	if ("serviceWorker" in navigator) {
		navigator.serviceWorker
			.register("sw.js")
			.then((reg) => console.log("Service Worker registered", reg))
			.catch((err) => console.error("Service Worker **not** registered", err));
	} else {
		console.warn("Service Worker not supported in this browser");
	}
</script>
