<h2>New Releases</h2>
<p>
	Maybe some text here about pre-ordering the album and stuff from Meritorio /
	Safe Suburban Home when we get links and that.
</p>
<div class="video-wrapper__16-9">
	<iframe
		style="border-radius: 12px"
		src="https://open.spotify.com/embed/track/27wu57WF9coYLCoMtfjM75?utm_source=generator"
		width="100%"
		height="152"
		frameborder="0"
		allowfullscreen=""
		allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
		loading="lazy"
	></iframe>
</div>
<div class="video-wrapper__16-9">
	<iframe
		width="560"
		height="315"
		src="https://www.youtube.com/embed/t6GP1gbXCQ4"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen
	></iframe>
</div>
<div class="video-wrapper__16-9">
	<iframe
		style="border: 0; width: 100%; height: 120px"
		src="https://bandcamp.com/EmbeddedPlayer/album=123071836/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=1692256461/transparent=true/"
		seamless
		><a href="https://sumos.bandcamp.com/album/weird-summer-2"
			>Weird Summer by Sumos</a
		></iframe
	>
</div>
