<h2>New Releases</h2>
<p>
	Our debut Album 'Surfacing', out now on
	<a href="https://sumos.bandcamp.com/album/surfacing">Bandcamp.</a>
</p>
<p>Available on both 12" vinyl and digital release.</p>
<div class="video-wrapper__16-9">
	<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1711502103/size=large/bgcol=ffffff/linkcol=f171a2/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://sumos.bandcamp.com/album/surfacing">Surfacing by Sumos</a></iframe>
</div>
<br />

<p>
	<a href="https://ffm.to/surfacing"
		>Also available on all streaming platforms</a
	>.
</p>
<br />
<div class="video-wrapper__16-9">
	<iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0zwi9HELA1DXKrvXeux2Ye?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
<br />
<!-- <div class="video-wrapper__16-9">
	<iframe
		width="560"
		height="315"
		src="https://www.youtube.com/embed/i69WXXu9i5Y"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen
	></iframe>
</div> -->
